{{#each error_orden}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}} 


<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Crear nueva orden de trabajo (el cliente ya existe)
    </div>
    <div class="card-body">

        <form action="" method="post" id="form_crear_orden">

            <div class="mb-3">
                <label for="dni" class="form-label">Seleccionar DNI</label>
                <select class="form-select" name="dni" id="dni" required>
                    <option value=""selected disabled></option>
                    {{#each datos_dni}}
                    <option value="{{dni}}">{{dni}}</option>
                    {{/each}}
                </select>
                <div class="feedback-invalid"></div>
            </div>
            <div class="row g-3">
                <div class="mb-3 col">
                    <label for="tipo_equipo" class="form-label">Seleccionar Tipo de Equipo</label>
                    <select name="tipo_equipo" id="tipo_equipo" class="form-select">
                        <option value="" selected disabled></option>
                            {{#each respuesta}}
                                <option value="{{id_tipo}}">{{tipo_equipo}}</option>
                            {{/each}}
                    </select>
                </div>
                <div class="mb-3 col">
                    <label for="pago" class="form-label">Seña (opcional)</label>
                    <input type="number" class="form-control" name="pago" id="pago" value="0" required pattern="[0-9]+" min="0" max="999999">
                </div>
            </div>
            
            
            <div class="mb-3">
                <textarea class="form-control" name="descripcion_falla" id="" cols="80" rows="10" placeholder="Descripcion de la falla"></textarea><br>
            </div>
            <div class="mb-3">
                <textarea class="form-control" name="datos_importantes" id="" cols="80" rows="10" placeholder="Datos del aparato"></textarea>
            </div>
            

            <div class="row g-3">
                <div class="mb-3 col">
                    <button type="submit" class=" btn btn-primary">Crear Orden</button>
                </div>
                {{#if userLogged.gerente}}
                    <div class="mb-3 col" >
                        <a class="btn btn-secondary" href="/gerente">Cancelar</a>
                    </div>
                {{/if}}

                {{#if userLogged.recepcionista}}
                    <div class="mb-3 col" >
                        <a class="btn btn-secondary" href="/recepcionista">Cancelar</a>
                    </div>
                {{/if}}
            </div>
        </form>
    </div>
</div>
