{{#each error_orden}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}} 


<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Crear nueva orden de trabajo
    </div>
    <div class="card-body">

        <form action="/crear_orden_existe_usuario" method="post" id="form_crear_orden">

            <div class="mb-3">
                <label for="dni" class="form-label">Seleccionar DNI</label>
                <select class="form-select" name="dni" id="dni" required>
                    <option value=""selected disabled></option>
                    {{#each datos_dni}}
                    <option value="{{dni_id}}">{{dni}}</option>
                    {{/each}}
                </select>
                <div class="feedback-invalid"></div>
            </div>

            <select name="tipo_equipo" id="tipo_equipo" class="form-select">
                <option value="" selected disabled></option>
                {{#each datos_equipo}}
                    <option value="{{equipo_id}}">{{equipo}}</option>
                {{/each}}
            </select>

            <textarea class="form-control" name="descripcion_falla" id="" cols="80" rows="10" placeholder="Descripcion de la falla"></textarea><br>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
</div>
