<div class="container rounded bg-light mt-4">
  <h3 class="mx-auto titulos" >Equipos listos para retirar</h3><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Dni</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Tipo de Equipo</th>
        <th scope="col">Falla</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      {{#each respuesta}}
      <tr>
          <td >{{fk_cliente}}</td>
          <td>{{nombrecompleto}}</td>
          <td>{{tipo_equipo}}</td>
          <td>{{descripcion_falla}}</td>
          <td><a href="recepcionista/factura/{{id_orden}}">Detalles</a></td>
      </tr>
      {{/each}}
      
    </tbody>
  </table>
</div>
