<div class="card mx-auto col-12 mt-3">
    <div class="card-header titulos">
        Lista de todos los usuarios
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>DNI</th>  
                    <th>Nombre Completo</th>
                    <th>Estado</th>
                    <th>Puesto</th>
                    <th>fecha Ingreso </th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Localidad</th>
                    <th>Modificar</th>    
                </tr>
            </thead>
            <tbody id="">
              {{#each respuesta}}
                <tr>
                    <td >{{dni}}</td>
                    <td >{{nombrecompleto}}</td>
                    <td >{{estado}}</td>
                    <td >{{puesto}}</td>
                    <td >{{fecha_inicio}}</td>
                    <td >{{celular}}</td>
                    <td >{{email}}</td>
                    <td >{{direccion}}</td>
                    <td >{{localidad}}</td>
                    <td><a class="btn btn-primary" href="admin/mod/{{dni}}">Modificar</a></td>     <!-- BOTON MODIFICAR USUARIO-->
                </tr>
              {{/each}}
            </tbody>
        </table>
    </div>
</div>
