
<div class="container rounded bg-light mt-4">
    <div class="row mt-3">
        <div class="col-9">
             Lista de todos los usuarios
        </div>
        <div class="col-3">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" action="/buscar_usuario" method="post">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por Dni" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
                </form>
            </nav>
        </div>
    </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>DNI</th>  
                    <th>Nombre Completo</th>
                    <th>Estado</th>
                    <th>Puesto</th>
                    <th>fecha Ingreso </th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Localidad</th>
                    <th>Modificar</th>    
                </tr>
            </thead>
            <tbody id="">
              {{#each respuesta}}
                <tr>
                    <td scope="col">{{dni}}</td>
                    <td scope="col">{{nombrecompleto}}</td>
                    <td scope="col">{{estado}}</td>
                    <td scope="col">{{puesto}}</td>
                    <td scope="col">{{fecha_inicio}}</td>
                    <td scope="col">{{celular}}</td>
                    <td scope="col">{{email}}</td>
                    <td scope="col">{{direccion}}</td>
                    <td scope="col">{{localidad}}</td>
                    <td><a class="btn btn-primary" href="admin/mod/{{dni}}">Modificar</a></td>     <!-- BOTON MODIFICAR USUARIO-->
                </tr>
              {{/each}}
            </tbody>
        </table>
</div>
