{{#if  resultado}}
  <h1 class="ligth-text" >me llegaron los repuestos</h1>
{{/if}}

<div class="container rounded bg-light mt-4">
      <h3 class="mx-auto titulos">Lista de todos los Repuestos</h3><br>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>  
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Distribuidor</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Modificar</th>    
                </tr>
            </thead>
            <tbody id="tbody_ordenes_trabajo">
                  {{#each resultado}}
                  <tr>
                    <td >{{nombre}}</td>
                    <td >{{cantidad}}</td>
                    <td >{{precio}}</td>
                    <td >{{distribuidor}}</td>
                    <td >{{descripcion}}</td>
                    <td >{{marca}}</td>
                    <td >{{modelo}}</td>
                    <td><a href="stock/mod/{{id_repuesto}}">Modificar</a></td>     <!-- BOTON MODIFICAR REPUESTO-->
                  </tr>
                  {{/each}}
            </tbody>
        </table>
</div>

<!-- BOTON MOFIFICAR REPUESTO-->


<!-- BOTON ELIMINAR REPUESTO-->

