{{#each errores}}

{{/each}}


<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Modificar Orden
    </div>
    <div class="card-body">
        <form  action="" method="post" id="form_modificar_orden">

            <div class="mb-3">
                <label for="nombre" class="form-label">ORDEN N°</label>
                {{#each respuesta}}
                    <input type="text" class="form-control"  id="nombre" disabled value="{{id_orden}}">
                    <input type="hidden" name="id_orden" value="{{id_orden}}">
                {{/each}}
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Descripcion Falla</label>
                {{#each respuesta}}
                    <textarea class="form-control" name="" id="" cols="80" rows="5" placeholder="Datos importantes (opcional) " disabled>{{descripcion_falla}}</textarea>
                {{/each}}
            </div>

           
              <label for="repuesto" class="form-label">Elegir repuesto/s usado/s</label>
              <select class="form-select" name="repuesto" multiple="multiple" id="repuesto">
                <option value=""  disabled ></option>
                {{#each datos}}
                     <option value="{{id_repuesto}}">{{nombre}} - {{modelo}} - {{marca}}</option>
                {{/each}}
              </select>
            
            <div class=" mt-3">

              <textarea class="form-control" name="datos_op" id="" cols="80" rows="10" placeholder="Datos importantes (opcional) "></textarea>
                
            </div>
            

            <div class="mt-3">
              <label for="estado" class="form-label">Cambiar estado de la orden.</label>
              <label for="estado" class="form-label">Estado actual -> </label>
              <select class="form-select" name="estado" id="estado" required>
                <option value="{{#each respuesta}}{{nombre}}{{/each}}" selected>{{#each respuesta}}{{nombre}}{{/each}}</option>

                {{#each lista_enviar}}
                     <option value="{{estado}}">{{estado}}</option>
                {{/each}}
              </select>
            
            </div>

            <button type="submit" class=" mt-2 btn btn-primary">Guardar Cambios</button>

        </form>
    </div>
</div>

<script src="../../modificar_orden.js"></script>