{{#each errores}}

{{/each}}


<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Modificar Orden
    </div>
    <div class="card-body">
        <form  action="" method="post" id="form_modificar_orden">

            <div class="mb-3">
                <label for="nombre" class="form-label">ORDEN N°</label>
                {{#each respuesta}}
                    <input type="text" class="form-control" name="{{id_orden}}" id="nombre" disabled value="{{id_orden}}">
                {{/each}}
            </div>

          
            <div class="row g-3">
                <div class="mb-3 col">
                    <label for="localidad" class="form-label">Modelo</label>
                    <input type="text" name="localidad" class="form-control" id="localidad" disabled value="{{#each respuesta}}
                {{modelo}}
                {{/each}}">
                </div>

                <div class="mb-3 col">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text" name="marca" class="form-control" id="marca" disabled value="{{#each respuesta}}
                {{marca}}
                {{/each}}">
                </div> 
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Descripcion Falla</label>
                {{#each respuesta}}
                    <textarea class="form-control" name="" id="" cols="80" rows="5" placeholder="Datos importantes (opcional) " disabled>{{descripcion_falla}}</textarea>
                {{/each}}
            </div>

            <div class="row g-3">
              <label for="repuesto" class="form-label">Elegir repuesto usado</label>
              <select class="form-select" name="repuesto" id="repuesto">
                <option value="" selected disabled ></option>
                {{#each datos}}
                     <option value="{{id_repuesto}}">{{nombre}}</option>
                {{/each}}
              </select>
            
            <input type="button" id="agregar_repuesto" class="btn btn-primary" value="Agregar otro repuesto"></input>
            </div>
            
            <div class="row g-3 mt-1">

              <textarea class="form-control" name="" id="" cols="80" rows="10" placeholder="Datos importantes (opcional) "></textarea>
                
            </div>
            

            <div class="row g-3 mt-1">
              <label for="marca" class="form-label">Cambiar estado de la orden</label>
              <select class="form-select" name="repuesto" id="repuesto" required>
                <option value="" selected disabled ></option>
                {{#each estados}}
                     <option value="{{id_estados}}">{{nombre}}</option>
                {{/each}}
              </select>
            
            </div>

            <button type="submit" class=" mt-2 btn btn-primary">Guardar Cambios</button>

        </form>
    </div>
</div>

<script src="../../modificar_orden.js"></script>