{{#each error_orden}}
    <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}} 


<div class="card mx-auto col-12 mt-3">
    <div class="card-header titulos">
        Lista de todos las Ordenes sin Asignar
    </div>
    <div class="card-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">fecha de ingreso</th>
            <th scope="col">Recepcionista </th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Descripcion de Falla</th>
            <th scope="col">Datos del cliente</th>
            <th scope="col">AGREGAR / TOMAR</th>    <!-- cargar = tomar orden / asignar tecnico-->
          </tr>
        </thead>
        <tbody id="tbody_ordenes_trabajo">
          {{#each respuesta}}
            <tr>
                <td >{{fecha_creacion}}</td>
                <td >{{fk_recepcionista}}</td>
                <td>{{marca}}</td>
                <td>{{modelo}}</td> 
                <td>{{descripcion_falla}}</td>
                <td >{{fk_cliente}}</td>         
                <td><a href="tecnico/add/{{id_orden}}">Asignar/Tomar</a></td> <!-- cargar = tomar orden / asignar tecnico (se requiere sesion) -->
            </tr>
          {{/each}}
          
        </tbody>
      </table>
  </div>
</div>

