
<div class="container rounded bg-light mt-4">
  <h3 class="mx-auto titulos" >{{#if dato}}Todas las Ordenes Finalizadas{{else}}Equipos listos para retirar{{/if}}</h3><br>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">N° DE ORDEN</th>
            <th scope="col">fecha de ingreso</th>
            <th scope="col">fecha de Retiro</th>
            <th scope="col">Recepcionista </th>
            {{#if dato}}{{else}} <th scope="col">Tecnico Asignado</th>{{/if}}
            <th scope="col">Tipo Equipo</th>
            <th scope="col">Descripcion de Falla</th>
            <th scope="col">DNI Cliente</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody >
          {{#if dato}}
            {{#each respuesta}}
              <tr>
                  <td >{{id_orden}}</td>
                  <td >{{fecha_creacion}}</td>
                  <td >{{fecha_retiro}}</td>
                  <td >{{fk_recepcionista}}</td>
                  <td>{{tipo_equipo}}</td>
                  <td>{{descripcion_falla}}</td>
                  <td >{{fk_cliente}}</td> 
                  <td >{{estado}}</td>
              </tr>
            {{/each}}
          {{else}}
              {{#each respuesta}}
                <tr>
                    <td >{{id_orden}}</td>
                    <td >{{fecha_creacion}}</td>
                    <td >{{fecha_retiro}}</td>
                    <td >{{fk_recepcionista}}</td>
                    <td >{{fk_tecnico}}</td>
                    <td>{{tipo_equipo}}</td>
                    <td>{{descripcion_falla}}</td>
                    <td >{{fk_cliente}}</td> 
                    <td >{{estado}}</td>
                </tr>
              {{/each}}
          {{/if}}
        </tbody>
    </table>
</div>

